/* Roboto Variable Font – normal */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* Roboto Variable Font – italic */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
